[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
datapackage = "*"
ipykernel = "*"
notebook = "*"

[dev-packages]
pylint = "*"
ipython = "*"

[requires]
python_version = "3.6"

[scripts]
install_kernel = "python -m ipykernel install --sys-prefix --name=pipenv"