[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future_fstrings = "*"
pandas = "==0.23"
datapackage = "*"
ipykernel = "*"
notebook = "*"
logzero = "*"
zenodo-get = {editable = true,git = "https://gitlab.com/ricklupton/zenodo_get.git",ref = "fix-keywords"}
goodtables = "*"

[dev-packages]
pylint = "*"
ipython = "*"

[requires]
python_version = "3.6"

[scripts]
install_kernel = "python -m ipykernel install --sys-prefix --name=pipenv"

[pipenv]
allow_prereleases = true
